@import "./variables";

.footer1 {
  text-align: center;
  padding: 2% 0;
  // background-color: rgba(0, 0, 0, 0.8);
  color: white;
  p {
    margin: 0;
    line-height: 190%;
  }
  #footer1-RMClogo {
    width: 60%;
    margin-bottom: 10px;
    height: auto;
  }

  a {
    color: white;
    &:hover {
      color: $gold-color;
      text-decoration: none;
    }
  }

  .contact-icons {
    width: 15px;
    margin-right: 7px;
  }
}

.footer {
  color: white;
  // background-color: black;
  padding: 1% 0 2% 0;
  .footer-text {
    p {
      margin-bottom: 0;
    }
    span {
      margin: 0 0.5%;
      letter-spacing: 1px;
    }
  }
  .footer-socialMediaLogos {
    margin-top: 1%;

    .footer-social-media-logo {
      height: 3vh;
      color: white;
      margin: 0 1.5%;

      &:hover {
        color: $gold-color;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    p {
      font-size: 10px;
    }
    span {
      letter-spacing: 10px;
    }
  }
}
