$gold-color: #e2b654;

.navbar {
  position: relative;

  .dropdown-menu {
    background-color: black;
  }

  .dropdown-toggle {
    &::after {
      content: none;
    }
  }

  .drop-icon {
    width: 20px;
    height: 20px;
    color: white;
  }

  .RMClogo {
    width: 60px;
    height: 30px;
  }

  .navbar-nav {
    width: 100%;
  }

  a {
    color: white;

    &:hover {
      color: $gold-color;
      text-decoration: none;
    }
  }

  .selected-state {
    color: $gold-color;
  }
}
