@import "./variables";

.development-image {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.development-text-container {
  height: fit-content;
  padding-left: 5%;
}

.sample-website-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sample-website-images-container {
  height: 200px;

  @media #{$extra-small-device} {
    height: 100%;
    width: 100%;
  }
}
