.contact-info {
  text-align: left;
  padding: 5% 15% !important;
  background-color: white;
  color: black;
}

.contact-map {
  height: 333px;
}

.contact-form {
  background-color: white;
  color: black;
  padding: 5% 5% 11% 5%;
  button {
    width: 100%;

    &:hover {
      color: white;
      // font-weight: bold;
    }
  }
}
