.contact-info {
  text-align: left;
  padding: 5% 15% !important;
  background-color: white;
  color: black;
}

.contact-map {
  height: 40vh;
}

.contact-form {
  background-color: white;
  color: black;
  padding: 5% 5% 11% 5%;
  button {
    width: 100%;
  }
}
