@import "./variables";

.contact-info {
  text-align: left;
  padding: 5% 10% !important;
  background-color: white;
  color: black;
  .contact-icons {
    width: 15px;
  }

  p {
    font-size: 14px;
  }
}

.contact-map {
  height: 355px;
}

.contact-form {
  background-color: white;
  color: black;
  padding: 5% 5% 11% 5%;
  .gold-button {
    color: black !important;
    width: 100%;

    &:focus {
      box-shadow: none;
      border: none;
      background-color: $gold-color !important;
    }

    &:hover {
      color: white !important;
      opacity: 0.9;
    }
  }
}

.alert {
  p {
    margin-bottom: 0;
  }
}
