.footer1 {
  text-align: center;
  padding: 2% 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  .col:first-child {
    p {
      margin: 0 15%;
    }
  }
  #footer1-RMClogo {
    width: 50%;
  }

  a {
    color: white;
    &:hover {
      color: gold;
      text-decoration: none;
    }
  }

  .contact-icons {
    width: 15px;
    margin-right: 7px;
  }
}
