.footer {
  color: white;
  background-color: grey;
  padding: 1% 0 2% 0;
  .footer-text {
    p {
      margin-bottom: 0;
    }
    span {
      margin: 0 0.5%;
      letter-spacing: 1px;
    }
  }
  .footer-socialMediaLogos {
    margin-top: 1%;
    img {
      filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg)
        brightness(119%) contrast(119%);

      &:hover {
        filter: invert(1) sepia(0%) saturate(0%) hue-rotate(0) brightness(200%)
          contrast(1%);
      }
    }

    a {
      margin: 0 1.5%;
    }
  }

  @media only screen and (max-width: 600px) {
    p {
      font-size: 10px;
    }
    span {
      letter-spacing: 10px;
    }
  }
}
