$gold-color: #e2b654;

.footer {
  color: white;
  background-color: black;
  padding: 1% 0 2% 0;
  .footer-text {
    p {
      margin-bottom: 0;
    }
    span {
      margin: 0 0.5%;
      letter-spacing: 1px;
    }
  }
  .footer-socialMediaLogos {
    margin-top: 1%;

    .footer-social-media-logo {
      height: 3vh;
    }

    a {
      margin: 0 1.5%;
      color: white;
      &:hover {
        color: $gold-color;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    p {
      font-size: 10px;
    }
    span {
      letter-spacing: 10px;
    }
  }
}
