$gold-color: #ffc107;

.navbar {
  background-color: black;
  height: 10vh;
  .navbar-nav {
    width: 100%;
  }
  a {
    color: white;

    &:hover {
      color: $gold-color;
      text-decoration: none;
    }
  }
  .selected-state {
    color: $gold-color;
  }
}
