@import "./variables";
@import "./services-coaching";
@import "./services-development";
@import "./services-marketing";

.services-category {
  // width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-behavior: smooth;

  // white-space: nowrap;
  // height: 80vh;
}

.services-banner {
  height: 60vh;
  background-image: url("../images/services-cover.jpeg");
  width: 100%;
  background-size: cover;
  background-position-y: bottom;

  @media #{$extra-small-device} {
    height: 30vh;
  }
}

.service-category-title {
  margin: 3% 1%;
  // display: flex;
  // h5 {
  //   margin: auto;
  // }

  // @media #{$extra-small-device} {
  //   h5 {
  //     font-size: 14px;
  //   }
  // }
}
.services-category-container {
  width: 250px;
  height: 45vh;
  text-align: center;
  margin: 0% 1%;
  padding: 3% 0;
  flex: 0 0 auto;
  cursor: pointer;

  .icon-component {
    // fill: $gold-color;
    filter: invert(85%) sepia(98%) saturate(1803%) hue-rotate(315deg)
      brightness(94%) contrast(89%);
    width: 50%;
    height: 50%;
  }

  .icon-component-selected {
    filter: invert(100%) sepia(6%) saturate(4%) hue-rotate(7deg)
      brightness(104%) contrast(100%);
    // fill: white;
  }

  .line-indicator {
    border: 5px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    width: 95%;
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .selected-indicator {
    border: 5px solid white;
    background-color: white;
  }

  &:hover {
    .line-indicator {
      border: 5px solid white;
      background-color: white;
    }

    .icon-component {
      fill: white;
    }
  }
}

.services-text-content {
  width: 60%;
  margin: 50px auto;
}
