$gold-color: #ffc107;

.marketing-content {
  text-align: center;
  padding: 0% 10% 2% 10%;
  line-height: 170%;
  letter-spacing: 1px;
}

.seo-checklist {
  padding: 4% 20%;
  display: flex;
  line-height: 200%;
  ul {
    padding-left: 20%;
    span {
      padding-right: 3%;
    }

    li {
      letter-spacing: 1px;
    }
  }
}

.services-icon-container {
  border: 2px solid $gold-color;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
  text-decoration: none;

  &:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  }
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.gold-check-icon {
  width: 23px;
  margin-right: 10px;
  color: $gold-color;
}
.services-icon {
  width: 24px;
  margin: auto;
  color: $gold-color;
}
