@import "./variables";

.zija-banner {
  height: 60vh;
  background-image: url("../images/ameo-banner.png");
  width: 100%;
  background-size: cover;

  @media #{$extra-small-device} {
    height: 30vh;
    background-repeat: no-repeat;
    background-position: right;
    .zija-ditributor-logo {
      width: 100%;
    }
  }

  @media #{$medium-device} {
    height: 40vh;
    background-position: center;
    .zija-ditributor-logo {
      width: 120%;
    }
  }
}

#zija-color-overlay {
  position: absolute;
  width: 100%;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media #{$extra-small-device} {
    height: 30vh;
  }
  @media #{$medium-device} {
    height: 40vh;
  }
}

.featured-product-container {
  background-color: white;
  border-radius: 5%;
  padding: 5% 0;
  margin: 0 2%;
  position: relative;
  // margin: 3%;
  // padding: 3% 0;
  a {
    color: white;
    text-decoration: none;
  }

  .product-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5%;
    padding: 10%;
    opacity: 0;
    display: flex;
    h5 {
      margin: auto;
      font-weight: bold;
      color: black;
      text-decoration: none;
    }
  }

  &:hover .product-overlay {
    opacity: 1;
  }

  .zija-featured-product-image {
    width: 65%;
  }

  @media #{$extra-small-device} {
    margin: 3%;
    padding: 3% 0;
    .zija-featured-product-image {
      width: 80%;
    }
  }

  @media #{$medium-device} {
    margin: 1%;
    padding: 3% 0;
    .zija-featured-product-image {
      width: 100%;
    }
  }
}

.zija-color {
  color: $zija-color;
}

.shop-now-container {
  height: 60vh;
  background-color: $zija-color;
  background-image: url("../images/zija-sample-product.jpeg");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right;

  .zija-button {
    background-color: none;
    border: 2px solid white;
    width: 35%;
    border-radius: 30%/100%;
    a {
      color: white;
    }

    &:hover {
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
      }
    }

    @media #{$extra-small-device} {
      width: 45%;
    }
  }

  .shop-now-text-container {
    height: 60vh;
    display: flex;
    .text-content {
      font-size: 10px;
      margin: auto;
      padding: 0 25%;
    }
  }

  .green-overlay {
    position: absolute;
    width: 100%;
    height: 60vh;
    opacity: 1;
    background: -moz-linear-gradient(
      120deg,
      rgba(5, 206, 124, 1) 0%,
      rgba(5, 206, 124, 1) 63%,
      rgba(5, 206, 124, 0) 63%,
      rgba(5, 206, 124, 0.15) 63%,
      rgba(5, 206, 124, 0.1) 100%
    );
    background: -webkit-linear-gradient(
      120deg,
      rgba(5, 206, 124, 1) 0%,
      rgba(5, 206, 124, 1) 63%,
      rgba(5, 206, 124, 0) 63%,
      rgba(5, 206, 124, 0.15) 63%,
      rgba(5, 206, 124, 0.1) 100%
    );
    background: linear-gradient(
      120deg,
      rgba(5, 206, 124, 1) 0%,
      rgba(5, 206, 124, 1) 63%,
      rgba(5, 206, 124, 0) 63%,
      rgba(5, 206, 124, 0.15) 63%,
      rgba(5, 206, 124, 0.1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#05ce7c",endColorstr="#05ce7c",GradientType=1);
  }

  @media #{$extra-small-device} {
    background-image: none;
    padding: 0;
    .text-content {
      margin: 0;
      padding: 0 !important;
    }
  }
}

.success-story-container {
  background-color: white;

  &:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 1);
  }
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);
    }
  }
  .success-story-image-holder {
    width: 100%;
    .success-story-image {
      width: 100%;
      object-fit: cover;
    }
  }

  .success-story-title {
    padding: 3%;
  }

  @media #{$medium-device} {
    .success-story-title {
      font-size: 18px;
    }

    p {
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
}

.zija-bottom-text-container {
  padding: 3% 20%;
  .learn-more-button {
    background-color: $zija-color !important;
    border: none !important;
    width: 150px;
    padding: 10px 0 !important;

    &:hover {
      -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 255.75);

      a {
        color: white !important;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  @media #{$extra-small-device} {
    padding: 10% 0;
  }
}
